{% extends "layout.html" %}
{% block content %}
	<div class="jumbotron p-3 p-md-5 text-white rounded bg-light">
		<div class="col-md-6 px-0">
		  <h1 class="display-5 text-dark font-italic">Hello, Welcome to JMK Workout Tracker</h1>
		  <!-- <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p> -->
		  <!-- <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
		</div>
		<div class="btn-group">
		  <a href="/about" type="button" class="btn btn-lg btn-outline-secondary">I am new here. What is this website?</a>
		  <a href="/login" type="button" class="btn btn-lg btn-outline-secondary">I already have my account</a>
		</div>


<!--		<div class="form-group col-sm-5">-->
<!--		  <label for="files">Select User</label>-->
<!--		  <input type="text" name="country" id="livebox"/>-->
<!--		</div>-->
<!--		<div>-->
<!--			Selected Option : <span class="label label-default" id="datalist"></span>-->
<!--		</div>-->

	</div>
	<!-- {% for post in posts %} -->
		
		<!-- <article class="media content-section"> -->
		  <!-- <div class="media-body"> -->
			<!-- <div class="article-metadata"> -->
			  <!-- <a class="mr-2" href="#">{{ post.author }}</a> -->
			  <!-- <small class="text-muted">{{ post.date_posted }}</small> -->
			<!-- </div> -->
			<!-- <h2><a class="article-title" href="#">{{ post.title }}</a></h2> -->
			<!-- <p class="article-content">{{ post.content }}</p> -->
		  <!-- </div> -->

		<!-- </article> -->
	<!-- {% endfor %} -->
{% endblock content %}
