{% extends "layout.html" %}
{% block content %}
    <form method="POST" action ="">
      {{ form.hidden_tag() }}
    <div>

        <main role="main" class="col-md-20 ml-sm-auto col-lg-20 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class = "form-group" >
                {{ form.nameSelect.label(class="form-control-label") }}
                {{ form.nameSelect(class="form-control form-control-sm") }}
            </div>
            <div class = "form-group">
                {{form.submit(class = "btn btn-success")}}
            </div>

            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">

                  <div class = "form-group" >
                        {{ form.periodSelect.label(class="form-control-label") }}
                        {{ form.periodSelect(class="form-control form-control-sm") }}
                    </div>
              </div>

            </div>
          </div>


            <canvas id="myChart"></canvas>
            <canvas id="myChart2"></canvas>
            <canvas id="myChart3"></canvas>
            <canvas id="myChart4"></canvas>
            <canvas id="myChart5"></canvas>


          <div>

          </div>
          <h2>Top 10 Frequent WorkoutName</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Count</th>
                  <th>Workout Name</th>

                </tr>
              </thead>
              <tbody>

                {% for row_index in range(fetch6zip|count) %}
                    <tr>
                      <td>{{ row_index+1 }}</td>
                      <td>{{ fetch6zip[row_index]['countWorkout'] }}</td>
                      <td>{{ fetch6zip[row_index]['WorkoutName'] }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>
    </div>
      </form>
    <body>
        <input type = "button" onclick = "sayHello()" value = "Say Hello" />
   </body>
    <script type="text/javascript">
        var dates1 = {{ dates1|default("")|tojson }}
        var dates2 = {{ dates2|default("")|tojson }}
        var dates3 = {{ dates3|default("")|tojson }}
        var dates4 = {{ dates4|default("")|tojson }}

        var sleephours = {{ sleephours }}
        var sumOfworkouthours = {{ sumOfworkouthours }}
        var sumOfworkoutset = {{ sumOfworkoutset }}
        var sumOfworkoutsetNrep = {{ sumOfworkoutsetNrep }}
        var sumOfworkoutsetNrepNweight = {{ sumOfworkoutsetNrepNweight }}
        var intensity = {{ intensity }}
        var nutrition = {{ nutrition |tojson }}
        var carb = {{ carb }}
        var protein = {{ protein }}
        var fat = {{ fat }}



    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='wtoutput.js') }}"></script>


{% endblock content %}